:root{
    --p-cl: white;
    --s-cl: #F2AA4CFF;
    --t-cl: #2DA8D8FF;
    --f-cl : #FECE7A;

    --p-bg: #101820FF;
    --s-bg: #24201D;
    --t-bg: #313131;
    --easy: #008000;
    --medium: #ffff00;
    --hard: #ff0000;
    --landing-title: #145086;
    --l-gray: #797979;
}


.mode-fill {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mode-title {
    font-size: 50px;
    color: var(--landing-title);
    font-weight: bold;
}

.instruction-paragraph {
    text-align: center;
    color: var(--p-cl);
    
}

.mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button.modes {
    border: 1px solid var(--f-cl);
    padding: 13px 20px;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    margin-top: 15px;
    transition: .1s ease;
    cursor: pointer;
}
.modes{
    border-radius: 5px;
}

.easy{
    border: 1px solid var(--easy);
    color: var(--easy);
}

.medium {
    border: 1px solid var(--medium);
    color: var(--medium);
}

.hard {
    border: 1px solid var(--hard);
    color: var(--hard);
}


.easy:hover{
    border: 1px solid var(--easy);
    background-color: var(--easy);
    color: var(--p-cl);
    font-weight: bold;
}

.medium:hover{
    border: 1px solid var(--medium);
    background-color: var(--medium);
    color: var(--p-bg);
    font-weight: bold;
}

.hard:hover{
    border: 1px solid var(--hard);
    background-color: var(--hard);
    color: var(--p-cl);
    font-weight: bold;
}

.landing__img{
    width: 650px;
    width: 650px;
}

.ins__container{
    padding: 10px;
    display: flex;
    /* border: 1px solid var(--l-gray); */
    background-color: var(--s-bg);
    border-radius: 5px;
}
p.instructions{
    color: var(--l-gray);
}

.landing{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.scoreboard{
    text-align: center;
    min-width: 550px;
}