
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --p-cl: white;
    --s-cl: #F2AA4CFF;
    --t-cl: #2DA8D8FF;
    --f-cl : #FECE7A;

    --p-bg: #101820FF;
    --s-bg: #24201D;
    --t-bg: #313131;
    --easy: #008000;
    --medium: #ffff00;
    --hard: #ff0000;
}
.main__container{
    background-color: var(--s-bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(254,206,122,1) 55%, var(--t-bg) 100%);
}

header{
    flex: 1;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}
.title{
    font-size: 30px;
    color: var(--p-cl);
    font-weight: bold;
}


.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    background-color: var(--t-bg);

}

.game__container{
    /* width: 90vh; */
    /* height: 60vh; */
}

.details__container{
    position: absolute;
    right: 0;
    align-self: flex-start;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--f-cl);
}

.details{
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 170px;
    margin: 0 10px;
    padding: 10px;
    color: var(--t-cl);
    justify-content: space-between;
}

.name, .score, .question_num, .time{
    color: var(--p-bg)
}

.questions{
    color: var(--t-cl);
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-cl);
    border: 1px solid var(--s-cl);
    padding: 10px 15px;
    background-color: red;
    width: 200px;
    height: 80px;
}

.answer > {
    font-size: 25px;
}

.game__screen{
    border: 1px solid var(--s-cl);
    width: 100%;
    height: 100%;
}

footer{
    flex: 1;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 20px;
}

.circle__container{
    width: 120px;
    height: 120px;
    background-color: var(--p-cl);
    border-radius: 50%;
    position: absolute;
    overflow: hidden ;
    z-index: 1;
}

.semi__circle{
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: right center;
}

.semi__circle:nth-child(1){
    background-color: var(--t-cl);
    z-index: 2;
}


.semi__circle:nth-child(2){
    background-color: var(--s-cl);
    z-index: 3;
}

.semi__circle:nth-child(3){
    background-color: var(--s-cl);
    z-index: 4;
    display: none;
}

.circle{
    position: absolute;
    bottom: 0;
    right: 0;
}
.outermost__circle{
    background-color: var(--t-bg);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 9999;
}

.circle__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer__container{
    width: 120px;
    height: 120px;
    z-index: 6;
    background-color: transparent;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--p-cl);
    width: 120px;
    height: 60px;
    z-index: 7;
}

.timer div {
    font-size: 18px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.timer colon{
    background-color: var(--p-cl);
    width: 10px;
    height: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15;
}

.time__container{
    display: flex;
    align-items: center;
}
.time{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.inner__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input.player{
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

button.submit{
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    color: var(--f-cl);
    transition: .1s ease;
}

button.submit:hover{
    color: var(--t-cl);
    background-color: var(--p-bg);
    font-weight: bold;
}

/* the score board css */
h1 {
    text-align: center;
}

/* <!-- centering a bootstrap table bellow --> */
.table {
    margin: auto;
    width: 35% !important; 
}
.badge-success {
    background-color: rgba(142, 192, 124, 0.61);
}
.badge-warning {
    background-color: rgba(243, 234, 149, 0.589);
}
.badge-danger {
    background-color: rgba(250, 109, 109, 0.562);
}
.labels {
    display: flex;
}

.results {
    width: 100px;
}